.mobile-representatives {
    margin-top: 24px;
    background-color: #fff;
    width: 100%;
}

/* *************** MAIN ************** */
.mobile-representatives .main {
    width: 100%;
    padding: 14px;
}

/* ************** CREATE ************* */
.mobile-representatives .create  {
    width: 100%;
}

.mobile-representatives .create .ant-form-vertical .ant-form-item-label {
    padding: 0;
}

.mobile-representatives .create .avatar-uploader .ant-upload.ant-upload-select-picture-card {
    width: 140px;
    height: 140px;
}

.mobile-representatives .create .select-img-label {
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
    line-height: 16px;
}