/* ********** HEADER ********** */
.settings-geofence {
    margin-top: 24px;
    width: 100%;
    /* background-color: #fff; */
}

.settings-geofence .header .header-form {
    display: 'flex';
    justify-content: 'space-between'; 
    flex-wrap: 'wrap';
}

.settings-geofence .header .header-form .header-input {
    flex: auto;
    margin: 20px;
    margin-right: 16px;
}

.settings-geofence .header .header-form .header-input:nth-child(4) {
    flex: none;
    margin-right: 32px;
}

.settings-geofence .header .site-input-left {
    width: 110px !important;
    text-align: center !important;
}

.settings-geofence .header .site-input-split {
    width: 30px !important;
    border-left: 0 !important;
    border-right: 0 !important;
    background-color: #fff !important;
    pointer-events: none !important;
}

.settings-geofence .header .site-input-right {
    width: 110px !important;
    text-align: center !important;
}

.settings-geofence .header .site-input-right:not(:hover, :focus) {
    border-left: 0;
}


/* **************** CONTENT ************** */
.settings-geofence .content .ant-card-body {
    padding: 8px;
}
/* 
.settings-geofence .content .ant-card-body .ant-skeleton {
    width: 100%;
    height: 100%;
} */

.settings-geofence .content .ant-card-body .map-content {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: rgba(190, 190, 190, 0.2);
}

.settings-geofence .content .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.settings-geofence .content .card-footer .card-footer-text {
    display: flex;
    flex-direction: column;
}