.staff-table .ant-input,
.ant-picker,
.ant-dropdown-trigger {
  background: #f7f7f7 !important;
  border-radius: 6px !important;
  border: none !important;
}

.staff-table .ant-btn-primary {
  background: #007aff;
  border-radius: 6px;
  border: none;
}

.staff-table .ant-btn-primary .anticon {
  font-size: 24px;
}
